mixin cart(tags, imgs, name, txt, feats, btn)
  if (btn)
    .cart&attributes(attributes)
      if (tags)
        .cart__top
          for tag in tags
            - let newClass = tag.new ? "_new" : false
            - let saleClass = tag.sale ? "_sale" : false
            span.cart__tag(class=newClass class=saleClass)= tag.name
      a.cart__middle(href="/")
        .swiper.cart__img-slider.js-cart-img-slider
          .swiper-wrapper
            for img in imgs
              .swiper-slide
                img.cart__img.lazy(data-src=`images/cart/${img}.png` src="#" alt=txt)
          .cart__img-pagination.swiper-pagination
      .cart__bottom
        h4.cart__name= name
        p.cart__txt= txt
        if (feats)
          .cart__feautures
            for feature in feats
              span.cart__feautures-item= feature
        button.button-reset.button.cart__btn Добавить в заявку
  else
    a.cart(href="/")&attributes(attributes)
      if (tags)
        .cart__top
          for tag in tags
            - let newClass = tag.new ? "_new" : false
            - let saleClass = tag.sale ? "_sale" : false
            span.cart__tag(class=newClass class=saleClass)= tag.name
      .cart__middle
        .swiper.cart__img-slider.js-cart-img-slider
          .swiper-wrapper
            for img in imgs
              .swiper-slide
                img.cart__img.lazy(data-src=`images/cart/${img}.png` src="#" alt=txt)
        .cart__img-pagination.swiper-pagination
      .cart__bottom
        h4.cart__name= name
        p.cart__txt= txt
        if (feats)
          .cart__feautures
            for feature in feats
              span.cart__feautures-item= feature
