mixin cases(img, tag, name, location, txt)
  a.cases(href="/case-detail.html")
    .cases__top
      img(data-src=`images/cases/${img}.jpg` src="#" alt=name class="cases__img lazy")
    .cases__bottom
      .cases__tags
        span.cases__tag= tag
      h3.cases__heading= name
      span.cases__location= location
      p.cases__txt= txt
