mixin catalog-item(name, text, img, count)
  a.catalog-cart(href="/")&attributes(attributes)
    h3.catalog-cart__heading!= name
    .catalog-cart__txt
      p!= text
    span.catalog-cart__link
      | Смотреть модели (#{count})
    img.catalog-cart__img.lazy(data-src=`images/catalog-cart/${img}.png` src="#" alt=name)
