section.section-indent.catalog-inner
  .site-container.grid-container
    .grid-container__block
      form.side-filter.js-filter-form-descktop(action="")
        for item in catalogInpts
          if item.img
            .side-filter__block.js-sizes-parent
              .side-filter__error
                .side-filter__error-inner
                  span.side-filter__error-text
                    | Данное значение отсутсвует, ближайшее к нему:
                  .side-filter__error-suggestions
                    button.button-reset.side-filter__error-item.js-sizes-btn(type="button" data-inches="[200, 200]")
                      | 200:200
                    button.button-reset.side-filter__error-item.js-sizes-btn(type="button" data-inches="[300, 300]")
                      | 300:300
              p.side-filter__legend= item.name
              .side-filter__size
                input(type="number" class="side-filter__size-input js-sizes-value" name="centimeter" placeholder="См")
                input(type="number" class="side-filter__size-input" name="inch" placeholder="Дюйм")
                input(type="number" class="side-filter__size-input js-sizes-value" name="centimeter" placeholder="См")
          else
            .side-filter__block
              p.side-filter__legend= item.name
                .side-filter__block-list
                  for inpt, index in item.inpts
                    - let isfirstEl = index === 0 ? "js-choose-all" : "js-filter-input"
                      label.side-filter__label
                        input(type="checkbox" class="visually-hidden" class=isfirstEl name=inpt.slug value=inpt.name)
                        span.side-filter__label-name= inpt.name
                        if item.tooltip
                          span.tooltip.side-filter__label-tooltip.button-reset(arila-label="Открыть подсказку")
                            +icon-multi("warning")(width="16" height="16" class="tooltip__icon")
                            span.tooltip__text-wrapper
                              span.tooltip__text
                                | Универсальное полотно с белой матовой поверхностью на текстильной основе с покрытием ПВХ
      button.button-reset.side-filter__reset-btn.js-clear-btn(data-form="desctop") Очистить фильтр
    .grid-container__block
      ul.catalog-inner__List
        for item, index in catalogCarts
          if index === 2
            li.catalog-inner__item
              a.catalog-inner__item-help(href="/")
                p.catalog-inner__item-help-legend
                  | Как выбрать проекционный экран?
                p.catalog-inner__item-help-txt
                  | Экраны являются неотъемлемой частью проекционной системы. От того, насколько правильно и корректно подобран проекционный экран, зависит общее впечатление от увиденного.
                span.catalog-inner__item-help-more Узнать подробнее
          else
            li.catalog-inner__item
              +cart(item.tags, item.imgs, item.name, item.txt, item.feats, null)
      button.button-reset.button.mod-transparent.catalog-inner__btn
        | Показать ещё
      p.catalog-inner__text
        | Экраны LUMIEN - качественные экраны для бизнеса, образования и домашнего кинотеатра.Они изготовлены с учётом современных достижений AV индустрии и всецело соответствуют предъявляемым к ним функциональным требованиям
.modal
  include ../../parts/modalFilter.pug
