-
  let applications_arr = [
    {
      name: "Домашние развлечения",
      text: "Выбор проекционного экрана для домашнего кинотеатра требует особого внимания. Большую роль здесь играют не только безукоризненное качество отображения картинки, но и дизайн, который должен гармонично вписываться в интерьер.",
    },
    {
      name: "Образование",
      text: "Современный учебный класс невозможно представить себе без высокотехнологичных средств отображения информации. Lumien представляет широкий выбор проекционных экранов и интерактивных дисплеев для образования.",
    },
    {
      name: "Корпоративный рынок",
      text: "Lumien представляет высокофункциональное оборудование для оснащения офисов. Качественные проекционные экраны выводят проведение презентаций на новый уровень, а интерактивные дисплеи незаменимы для совместной работы и ВКС.",
    },
    {
      name: "VR",
      text: "Игровая и образовательная сферы нашего времени требуют высококачественных средств виртуальной реальности. Проекционные экраны помогут создать качественное изображение для полного погружения в виртуальную среду.",
    },
    {
      name: "Бары и рестораны",
      text: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов. В модельном ряду Lumien можно найти решение для зала любого размера и выбрать подходящий способ монтажа.",
    },
    {
      name: "Музеи и выставки",
      text: "Современные учреждения искусства и культуры все чаще обращаются к технологиям мультимедиа. Проекционные экраны Lumien представляют широкий выбор ярких и нестандартных решений для реализации авторских задач.",
    },
    {
      name: "Развлекательные площадки",
      text: "Современный учебный класс невозможно представить себе без высокотехнологичных средств отображения информации. Lumien представляет широкий выбор проекционных экранов и интерактивных дисплеев для образования.",
    },
    {
      name: "Государственный сектор",
      text: "Оборудование Lumien обладает высоким качеством и технологичностью. Проекционные экраны и интерактивные дисплеи Lumien являются прекрасным решением для инсталляций в государственных учреждениях.",
    },
    {
      name: "Кинотеатры",
      text: "Lumien представляет высокофункциональное оборудование для оснащения офисов. Качественные проекционные экраны выводят проведение презентаций на новый уровень, а интерактивные дисплеи незаменимы для совместной работы и ВКС.",
    },
    {
      name: "Стадионы и арены",
      text: "Игровая и образовательная сферы нашего времени требуют высококачественных средств виртуальной реальности. Проекционные экраны помогут создать качественное изображение для полного погружения в виртуальную среду.",
    },
    {
      name: "Актовые залы",
      text: "Современные учреждения искусства и культуры все чаще обращаются к технологиям мультимедиа. Проекционные экраны Lumien представляют широкий выбор ярких и нестандартных решений для реализации авторских задач.",
    },
    {
      name: "Гостиничный сектор",
      text: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов. В модельном ряду Lumien можно найти решение для зала любого размера и выбрать подходящий способ монтажа.",
    }
  ]

section.applications.section-indent.top-offset
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.applications__heading.section-heading-offset.site-heading Сферы применения
  .site-container.applications__content.grid-container.js-mobile-list
    for item, index in applications_arr
      .applications__content-item
        a.applications-cart(href="/spheres-detail.html")
          .applications-cart__img-wrapper(style=`clip-path: url(#product-card-4628623${index});--overlay-color: rgba(0, 0, 0, 0.2);`)
            img(src=`images/applications-cart/img${index}.jpg` alt=item.name class="applications-cart__img")
            svg(height="0" width="0" preserveAspectRatio="none")
              defs
                clipPath(id=`product-card-4628623${index}`)
                  rect(fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100")
          .applications-cart__inner
            h3!= item.name
            p!= item.text
            span.applications-cart__icon
    button.button-reset.button.show-more-btn.applications__btn.js-mobile-btn
      span._hidden Скрыть
      span._shown Показать еще
